{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="{% static 'chat/chat.css' %}">
</head>
<body>
<div class="header">
    <h1>Welcome {{ request.user.username }}</h1>
</div>

<div class="container">
    <div class="messages">
        <div id="message-list">
            {% for message in messages %}
            <div class="message">
                <div class="message-author">{{ message.author__name }}</div>
                <div class="message-content">{{ message.content }}</div>
                <div class="message-timestamp">{{ message.created_at }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <form id="message-form" @submit.prevent="sendMessage">
        {% csrf_token %}
        <input type="hidden" name="group_id" value="{{ group.id }}">
        <div>
            <textarea v-model="message" @input="state = 'composing'" autofocus placeholder="Your next message..."></textarea>
            <button class="button" type="submit">Send</button>
        </div>

        <div v-if="showError && state === 'error' && message.trim()">
            <p>Error sending your message ❌</p>
        </div>
    </form>

    <form action="{% url 'lobby' %}" method="get">
        <button type="submit">Return to Lobby</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="{% static 'js/chat.js' %}"></script>

</body>
</html>
\